@model TechStoreWebApp.Models.ViewModels.Admin.ProductsViewModel
@inject TechStoreWebApp.IUserManager UserManager
@using System.Security.Claims

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";

}

@* Admin değilse bu sayfayı göremez *@
@*TODO: Permission'lara da bak*@
@if (!@User.HasClaim(ClaimTypes.Role, "Administrator"))
{
    <h1>403 Forbidden!</h1>
    <h4 class="alert alert-danger">Bu alana erişim yetkiniz yok!</h4>
    return;
}

<div class="container-fluid w3-container">

    <div>
        @* DB adı *@
        <h2 class="text-primary float-left" style="cursor: pointer"><i class="fas fa-database mr-1 text-black-50"></i> Products</h2>
        @* Yeni ürün ekle *@
        <form class="float-right">
            <button class="btn btn-success mb-1" type="submit" asp-controller="AdminPanel" asp-action="products/create">
                <i class="fas fa-plus-square mr-1 text-light"></i> Ekle
            </button>
        </form>
    </div>

    @* Tabloda aramaya yap *@
    <div class="form-group">
        <input class="form-control" id="searchInput" type="text" placeholder="Ara..">
    </div>

    @* Products tablosu *@
    <table id="productsTable" class="table table-dark table-striped shadow">
        <thead>
            <tr class="sticky-top bg-dark">
                <th onclick="sort(1)"><i class="fas fa-sort"></i> #</th>
                <th onclick="sort(2)"></th>
                <th onclick="sort(3)"><i class="fas fa-sort"></i> ProductId</th>
                <th onclick="sort(4)"><i class="fas fa-sort"></i> Title</th>
                <th onclick="sort(5)"><i class="fas fa-sort"></i> Fiyat</th>
                <th onclick="sort(6)"><i class="fas fa-sort"></i> Stok</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 1;

                @foreach (var product in @Model.Products)
                {

                    <tr class="item">
                        <td>@i</td>
                        <td>
                            @if (!@product.Images.Any() || string.IsNullOrEmpty(@product.Images.ElementAt(0)))
                            {
                                <i class="fas fa-image mr-1 text-light ml-1" style="font-size: 36px"></i>
                            }
                            else
                            {
                                <img class="img-fluid" src="@product.Images.ElementAt(0)" width="56" height="56" />
                            }
                        </td>
                        <td>@product.Id</td>
                        <td>@product.Title</td>
                        <td>@product.Price <i class="fas fa-lira-sign mr-1 text-light"></i></td>
                        <td>@product.Stock</td>
                        <td>
                            <div class="btn-group">
                                <form data-toggle="tooltip" title="Düzenle">
                                    <button class="btn btn-warning" type="submit" asp-controller="AdminPanel" asp-action="products/details/{id}" asp-route-id="@product.Id">
                                        <i class="fas fa-edit mr-1 text-light"></i>
                                    </button>
                                </form>
                                <form data-toggle="tooltip" title="Detaylar">
                                    <button class="btn btn-secondary" type="submit" asp-controller="AdminPanel" asp-action="products/details/{id}" asp-route-id="@product.Id">
                                        <i class="fas fa-info-circle mr-1 text-light"></i>
                                    </button>
                                </form>
                                <form data-toggle="tooltip" title="Sil">
                                    <button class="btn btn-danger" data-toggle="modal" type="submit" asp-controller="AdminPanel" asp-action="products/delete/{id}" asp-route-id="@product.Id">
                                        <i class="fas fa-trash-alt mr-1 text-light" asp-controller="AdminPanel" asp-action="DeleteProduct" asp-route-id="@product.Id"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>

</div>

<style scoped>
    th {
        cursor: pointer;
    }

    .fa-sort {
        opacity: .5;
    }
     
</style>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(document).ready(function() {
            $("#searchInput").on("keyup",
                function() {
                    var value = $(this).val().toLowerCase();
                    $("#productsTable tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
        });

        function sort(data) {
            w3.sortHTML('#productsTable', '.item', 'td:nth-child(' + data + ')');
        }

    </script>
}
